export PATH=$(pwd)/apache-maven-3.6.0/bin:$PATH                            # maven 3.6.3 is required
export SPARK_HOME=$(pwd)/spark-2.4.3-bin-spark-2.4.3-bin-hadoop2.8         # spark 2.4.3 for glue-2.0
export AWS_REGION='ap-northeast-1'
export PYTHONPATH=$SPARK_HOME/python/:$PYTHONPATH
export PYTHONPATH=$SPARK_HOME/python/lib/py4j-0.8.2.1-src.zip:$PYTHONPATH
export JAVA_HOME=$(/usr/libexec/java_home -v 1.8.0)                        # java8 jdk is required
